.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 10px;
    
}

.logotipe {
    width: 13rem;
    padding: 20px;  
}

.nav {
    display: flex;
    justify-content: center;
}

.header a{
    font-size: 1.1rem;
    font-family: 'roboto';

    color: #fff;
    padding: 12px 35px;
    text-decoration: none;
    border-radius: 20px;
    transition: .2s;
}

.header a:hover{
    background-color: #95b3f5;
    
}


@media(max-width: 768px){
    .header {
        justify-content: center;
    }

    .header a {
        display: none;
    }
}