.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 10px;
}

.logotipe {
    width: 13rem;
    padding: 20px;  
}

.nav {
    display: flex;
    justify-content: center;
}

.header a{
    font-size: 1rem;
    font-family: 'roboto';

    color: #fff;
    padding: 12px 40px;
    margin-left: 1.5rem;
    text-decoration: none;
    border: 2px solid  #A2BDF7 ;
    border-radius: 10px;
    transition: .2s;
}

.header a:hover{
    background-color: #95b3f5;
}


@media(max-width: 426px){
    .header {
        justify-content: center;
    }

    .logotipe{
        
    }

    .header a {
        display: none;
    }
}